.preview-panel {
  background: #ebebebcc;
  color: rgb(47, 47, 47);
  border: 1px solid #fff;
  height: 100%;
  max-height: 95vh;
  width: 100%;
  max-width: 800px;
  margin: 1rem auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.educ-info {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.name {
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.preview-panel::-webkit-scrollbar {
  background: transparent;
}

.preview-panel::-webkit-scrollbar-thumb {
  background: #75757593;
  border-radius: 20px;
}

.preview-panel::-webkit-scrollbar-thumb:hover {
  background: #2a2a2a;
}

@media screen and (max-width: 1024px) {
  .material-symbols-outlined {
    font-size: 1rem;
  }
}